
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@Html.TextBox("Name")
<li>
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin Dashboard</a>
</li>

